.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
// @media (max-width: 1200px) {
//   .entry {
//     border: 20px solid blue;
//   }
//   .btn-nav {
//     display: block;
//   }
// }
