.form-style {
  display: flex;
  flex-direction: row;
  width: 1400px;
  justify-content: space-between;
  margin: 30px auto;
}
@media (max-width: 600px) {
  .entry {
    border: 20px solid blue;
  }
}
