.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  // .btn-nav {
  //   display: none;
  // }
}

.icone1 {
  width: 24px;
  height: 24px;
  margin-top: 19px;
  display: none;
}
.icone2 {
  width: 24px;
  height: 24px;
  margin-top: 21px;
  display: none;
}
.btn-nav {
  border: none;
  background: none;
  color: #333;
}

// @media (max-width: 59rem) {
//   .navigation {
//     position: relative;
//   }
//   .icone2 {
//     display: none;
//   }
//   .icone1 {
//     display: block;
//   }
//   .nav-links-container {
//     position: absolute;
//     top: 200%;
//     right: 0;
//     width: 100%;
//     height: 100vh;
//     left: 73%;
//     flex-direction: column;
//     font-size: 1rem;
//     transform: translateX(100%);
//     opacity: 0;
//     transition: all 0.2s ease-in;
//     pointer-events: none;
//   }
//   .nav-open .nav-links-container {
//     opacity: 1;
//     pointer-events: auto;
//     visibility: visible;
//     transform: translateX(0);
//   }
//   .nav-open .icone2 {
//     display: block;
//   }
//   .nav-open .icone1 {
//     display: none;
//   }
// }
// position: absolute;
//     top: 200%;
//     right: 0;
//     width: 100%;
//     height: 100vh;
//     left: 73%;
//     flex-direction: column;
//     font-size: 1rem;
//     transform: translateX(100%);
//     opacity: 0;
//     transition: all 0.2s ease-in;
//     pointer-events: none;
//     visibility: hidden;
@media (max-width: 59rem) {
  .icone1 {
    display: block;
    margin-bottom: 50px;
  }
  .navigation {
    position: relative;
  }
  .nav-links-container {
    position: absolute;
    top: 200%;
    right: 0;
    width: 100%;
    height: 100vh;
    left: 73%;
    flex-direction: column;
    // transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }
  .nav-open .nav-links-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .icone1 {
    display: none;
  }
  .nav-open .icone2 {
    display: block;
  }
}
