.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}

@media (max-width: 50rem) {
  .category-preview-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    .title {
      font-size: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .preview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
}
