.cart-dropdown-container {
  position: absolute;
  max-width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
  top: 5rem;
  right: 2rem;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 20rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
