// @media (max-width: 59rem) {
//   .entry {
//     background-color: red;
//   }
//   .btn-nav {
//     display: block;
//   }
// }
@media (max-width: 59rem) {
  // .entry {
  //   // border: 20px solid blue;
  // }
  .btn-nav {
    display: block;
  }
}
